body{
	margin: 5%;
	/*font-family: 'Lobster', cursive;*/
	font-family: 'Open Sans Condensed', sans-serif;
}

.welcome h1{
	font-family: 'Open Sans Condensed', sans-serif;	
	margin-left: 5%;
	margin-top: 15%;
	margin-bottom: 1em;
	font-size: 50px;
}

#report {
	font-size: 12px;
	text-align: center;	
}

.input{
	margin-left: 6%;
}

#name p{
	padding-top: 2em;
}


#title h1{
	/*font-family: 'Lobster', cursive;*/
	font-family: 'Open Sans Condensed', sans-serif;	
	font-size: 70px;
	margin-top: 50px;
	margin-bottom: 20px;
	text-align: center;	
}

#btn1{
	background-color: #1F7A1F;
	border: none;
}
#btn2{
	background-color: #BE0000;
	border: none;
}
#btn3{
	background-color: #FFFF00;
	border: none;
}

.icon-grid {
	margin-top: 2em;
	margin-bottom: 3em;
	float: left;
	/* overflow: auto;	Make the parent contains the floated children */	
}


/* Float each item in the list to make it display in a grid */
/* We've used the border box reset so we don't have to worry about combining widths and margins */
.icon-grid li {
	float: left;
	margin-right: 1.5%;
	margin-bottom: 1em;
	max-width: 20%;
}

.icon-grid ul{
	margin-left: 16%;
	margin-right: 3%;

}

.icon-grid img{
	max-width: 100%;
	background-color: #1F7A1F;
}

#red{
	background-color: #BE0000;
}

#yellow{
	background-color: #FFFF00;
}

/* Our list is 4 items wide */
/* Remove the right margin from the last item in each row */
.icon-grid li:nth-child(4n) {
	margin-right: 0;
}

/* Make sure the first item in each row clears floats on the left */
/* This stop our layout from messing up when there is a long caption */
.icon-grid li:nth-child(4n+1) {
	clear: left;
}


/* CAPTIONS */

.description-p{
	font-family: 'Lobster', cursive;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1em;
	margin-top: 1em;
	text-align: center;
	position: relative;	/* Set the container for the captions */
}

/* Get rid of tiny space below images */
/*.icon-grid img {
	display: block; 
	margin-bottom: .3em;
}
*/
